img {
  height:75%;
  width:30%;
  
}

div {

}

.element1 {
    float: left;
    height: 98%;
	}
  
  .element2 {
    float: left;
    height: 95%;
  }
  
  .element3 {
    float: left;
    height: 95%;
  }
  
  table, th,td{
	  border: 1px solid black;
	  width: 50%;
	  height: 25%;
  }